<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vue js1</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div id="app">
           <!-- <p>{{width}}の半分は{{halfWidth}}</p> -->
           <!-- <p>X: {{halfPoint.x}}</p>
           <p>Y: {{halfPoint.y}}</p> -->
           <!-- <input v-model.number="width">{{width}}
           <input v-model.number="halfWidth">{{halfWidth}} -->
            <!-- 算出プロパティ -->
            <!-- <ol>
                <li>{{computedData}}</li>
                <li>{{computedData}}</li>
            </ol> -->
            
            <!-- メソッド -->
            <!-- <ol>
                <li>{{methodsData()}}</li>
                <li>{{methodsData()}}</li>
            </ol> -->
            <!-- <button v-on:click="order=!order">切り替え</button>

            <input v-model.number="budget">円以下に絞り込む
            <input v-model.number="limit">件を表示
            <p>{{matched.length}}件中{{limited.length}}件を表示中</p>
            <ul>
                <li v-for="item in limited" v-bind:key="item.id">
                    {{item.name}} {{item.price}}円
                </li>
            </ul> -->

            <!-- <select v-model="current">
                <option v-for="topic in topics" v-bind:value="topic.value">
                    {{topic.name}}
                </option>
            </select>
            <div v-for="item in list">{{item.full_name}}</div> -->

            <!-- {{price | localNum}}円 -->
            <!-- {{message | filter(foo,100)}}

            <p>180度は{{180 | radian | round}}ラジアンです</p> -->

        
            
            
        </div>
        <script 
        src="js/vue.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>